/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("imagens/mapa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #006064;
}

/* Modo Escuro */
body.dark-mode {
    background-color: rgba(0, 96, 100, 0.9);
    color: rgb(8, 5, 1);
}

/* Cabeçalho */
header {
    background-color: rgba(0, 96, 100, 0.9);
    color: white;
    padding: 15px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

#toggle-tema {
    margin-top: 10px;
    background: #004d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#toggle-tema:hover {
    background: rgba(3, 165, 170, 0.9);
}

/* Container */
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 50px auto;
    width: 90%;
    max-width: 500px;
}


footer {
    text-align: center; /* Centraliza o texto */
    background-color: rgba(0, 96, 100, 0.9); /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    position: relative; /* Para fixar no layout sem sobrepor conteúdo */
    bottom: 0;
    width: 100%;
    border-top: 2px solid #004d4d; /* Opcional: linha superior */
}


/* Outros Estilos Responsivos */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 15px;
    }
}
